*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
/* stylizing the navbar */

.navbar{
    background: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    z-index: 3;
}
/* placing the logo */

.logo{
    padding: 2em 3em;
}
/* aligning the page links */

.navbar_list{
    display: flex;
    list-style-type: none; 
}

.navbar_list li{
    color: white;
    padding: 1em;
    cursor: pointer;
    position: relative;
}
/* adding hover animation to navigation links */

.navbar_list li::before{
    content: " ";
    background: white;
    position: absolute;
    bottom: 5.9px;
    left: 1.3em;
    width: 2em;
    height: .3em;
    border-radius: 50px;
    transform: scale(0);
    transition: all;
    transition-duration: .2s;
}

.navbar_list li:hover:before{
   transform:scale(1);
}

/* creating the css grid */

.main_grid{
    display: grid;
    grid-template-areas: 'imaging textcontent'
                        'bottom bottom';
    grid-template-columns: 60% 40%;
    grid-template-rows: 67% 33%;
}

.writtencontent{
    grid-area: textcontent;
    position: relative;
    display: flex;
    overflow: hidden;
}

.left, .right{
    display: block;
    max-width: fit-content;
    padding: 1em;
    background:#000000;
}
.left:hover, .right:hover{
    background:#414141;
}

.imagery{
    grid-area: imaging;
    display: flex;
    overflow: hidden;
}
.imagery img{
    height: 100%;
}
.imageryslider{
    display: flex;
}
.contentslider{
    display: flex;
}
/* stylizing arrow buttons*/

.button{
    display: flex;
    position: absolute;
    bottom: 0;
    
}

/* stylizing 1 paragraph */

.content1 {
    margin: 5.9em;
    min-width: 342.1px;
}
.content1 h1{
    margin-bottom: 1em;
    font-family: 'Spartan', sans-serif;
}

.content1 p{
    font-family: 'Spartan', sans-serif;
    font-weight: 200;
    font-size: .9em;
    margin-bottom: 2.5em;
}

.shopnow{
    text-decoration: none;
    color: #000000;
    font-family: 'Spartan', sans-serif;
    font-weight: 200;
    letter-spacing: 8px;
    display: flex;
    justify-content: space-between;
    max-width: 16em;
}

.bottomrow{
    display: flex;
    grid-area: bottom;
}

.text{
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text h5{
    font-family: 'Spartan', sans-serif;
    letter-spacing: .5em;
}

.text p{
    font-family: 'Spartan', sans-serif;
    font-weight: 200;
    font-size: .8em;
    padding-top: 1em;
}